body {
    background-color: grey;
}

h1 {
    text-align: center;
}

.selections {
display: flex;
justify-content: center;
}

button {
background: none;
border: none;
outline: none;
font-size: 7rem;
transition: 100ms;
}

.paper {
    margin-left: 100px;
    margin-right: 100px;
}

button:hover {
    transform: scale(1.2)
}

.clear {
    font-size: 1rem;
}