body {
    background-color: grey;
}

h1 {
    text-align: center;
}

.selections {
display: flex;
justify-content: center;
}

button {
background: none;
border: none;
outline: none;
font-size: 7rem;
transition: 100ms;
}

.paper {
    margin-left: 100px;
    margin-right: 100px;
}

button:hover {
    transform: scale(1.2)
}

.clear {
    font-size: 1rem;
    position: absolute;
    right: 0;
    top: 10;
}

.cpuScore, .playerScore {
    color: bisque;
    margin-left: 10px;
}


.yourScore {
    display: flex;
    justify-content: flex-start;
}

.cScore {
    display: flex;
    justify-content: flex-start;
}

.sidebar {
    position: absolute;
    left: 5;
    top: 0;
}

.roundCounter {
    display: flex;
    justify-content: flex-start;
}

.roundCount {
    color:bisque;
    margin-left: 10px;
}

.slash {
    color:bisque;
}

.results {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
}

.result {
    margin-left: 10px;
    color: bisque;
}

.choiceColumn {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    height: 250px;
}

.cChoices {
    margin-left: 100px;
}

.pChoices {

}

.playerContainer, .cpuContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.playerChoices, .cpuChoices {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.playerChoices, .cpuChoices {
    font-size: 2rem;
}