body {
    background-color: grey;
}

h1 {
    text-align: center;
}

.selections {
display: flex;
justify-content: center;
}

button {
background: none;
border: none;
outline: none;
font-size: 7rem;
transition: 100ms;
}

.paper {
    margin-left: 100px;
    margin-right: 100px;
}

button:hover {
    transform: scale(1.2)
}

.clear {
    font-size: 1rem;
}

h4 {
    font-size: 1.3rem;
    color:bisque;
}

.results {
    display: flex;
    justify-content: center;
}

.scoreboard {
    display: flex;
   justify-content: flex-start;
   justify-content: center;
   justify-content: space-around;
   height: 100px;
}
